/* ===============================
    Portfolio Project CSS Template
    =============================== */

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables for easy theming */
:root {
  --primary-color: rgb(53, 66, 66);
  --secondary-color: rgb(139 ,155, 147);
  --title-color: rgb(228, 224, 218);
  --font-color: rgb(7, 4, 4);
  --font-main: 'Roboto', sans-serif;
}

/* Body styles */
body {
  font-family: var(--font-main);
  background: var(--secondary-color);
  color: var(--font-color);
  line-height: 1.6;
}

body ul {
  list-style-type: none;
}

/* Header styles */
header {
  background: var(--primary-color);
  color: var(--title-color);
  padding: 2rem 0;
  text-align: center;
}

header img {
  border-radius: 50%;
  border: 10px var(--secondary-color) solid;
}

/* Navigation styles */
nav {
  margin-top: 1rem;
}

.contact_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 2px solid var(--secondary-color);
}

/* Main content */
main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
}

ul a {
    text-decoration: none;
    margin: 1rem;
    transition: color 0.2s;
}

.contact_bar a {
  color: var(--title-color);
  transition: all 200ms linear;
}

.contact_bar a:hover {
  color: var(--secondary-color);
}

/* Section styles */
section {
  margin-bottom: 2rem;
}

section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

section h2 {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--primary-color);
}

.about_me p {
  padding: 1.5rem 0 0 1.5rem;
}

.social_links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0rem 1.7rem;
}

.button_link {
  display: inline-block;
  padding: 0.8rem;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  color: var(--font-color);
  text-decoration: none;
  transition: all 150ms linear;
}

.button_link:hover {
  transform: translateZ(5px);
  box-shadow: 2px 2px 5px var(--font-color);
}

/* Skill icons */

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  padding: 1rem;
}

  .skill_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 350px;
    
    border: 2px var(--primary-color) solid;
    border-radius: 25px;
  }

    .skill_box img {
      width: 150px;
    }

    .skill_box p {
      padding: 1rem;
      border-radius: 20px;
      color: white;
      background-color: var(--primary-color);
    }

    .skill_box a {
      text-decoration: none;
      color: var(--title-color);
      transition: all linear 100ms;
    }

    .skill_box a:hover {
      color: var(--secondary-color);
    }

/* Footer styles */
footer {
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* Responsive design */
@media (max-width: 600px) {
  main {
    padding: 0.5rem;
  }

  .contact_bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 2rem;
  }

  nav a {
    margin: 0 0.5rem;
  }

  main h2 {
    text-align: center;
    font-size: 2rem;
  }

  .social_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
  }